@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background: linear-gradient(#3b82f6, #4a7dff); */
}


#conatainer{
    background-color: #f0f8ff;
    border-radius: 10px;
    padding: 18px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0);
}

#form{
    display: flex;
    align-items: center;
    gap: 8px;
    border:  1px solid #bdbdbd;
    border-radius: 10px;
    padding: 4px 12px;
}

#search input{
    border: none;
    background-color:  transparent;
    font-size: 16px;
    width: 100%;

}